<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    {% load static %}
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script>
    $(function () {
        $("#bt01").click(function () {
            var value = $.ajax({
                type: "GET",
                url: "/getHeader",
                dataType: 'json',
                async: false,
                header: {
                    "sign": "123",
                }
            }).responseJSON;
            value = '<h2>' + value["header"] + '</h2>'
            $("#myDic").html(value);
        });

    });
    </script>
</head>
<body>
{#    <span>Hello World!!!</span>#}
<h3>{{ value.title }}</h3>
<div>{{ content.key }}</div>
<a href="{% url 'index:download1' %}">HttpResponse-download</a>
<br>
<a href="{% url 'index:download2' %}">StreamingHttpResponse-download</a>
<br>
<a href="{% url 'index:download3' %}">FileResponse-download</a>

<br>
<a href="{% url 'index:create' %}">create cookie</a>
<br>
<a href="{% url 'index:myCookie' %}">read cookie</a>
<br>
<br>
<h3>Hello Header</h3>
<div id="myDiv"><h2>AJAX获取请求头</h2></div>
<button id="bt01" type="button">改变内容</button>

<form action="" method="post">
    # Django 的CSRF防御机制
    {% csrf_token %}
    <input type="text" name="user"/>
    <input type="submit" name="提交"/>
</form>

<h3>Hello Redirect</h3>
<a href="{% url 'index:trunTo' %}?k=1">ToTurn</a>

<br>
<h3>Hello, {{ title }}</h3>
<div>{{ value }}</div>
<br>
<form action="" method="post">
    {% csrf_token %}
     <input type="submit" value="submit">
</form>

<br>
{#<title> {{ title }}</title>#}
<h3>{{ title }}</h3>
<table border="1">
    {% for i in personinfo_list %}
        <tr>
            <th>{{ i.name }}</th>
            <th>{{ i.age }}</th>
        </tr>
    {% endfor %}
</table>
<br>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="/?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
    {% if page_obj.has_next %}
    <a href="/?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
    <br>
    <br>
    <span class="page-current">
        第{{ page_obj.number }}页，
        共{{ page_obj.paginator.num_pages }}页.
    </span>
    </span>
</div>
{% endif %}


</body>
</html>